{% extends 'index.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <a href="{% url 'degustaciones-list' %}"><h2 class="mb-4">Degustaciones</h2></a>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
            {% for degustacion in degustaciones %}
            <div class="col-md-6 col-lg-3 text-center ftco-animate">
                <div class="menu-wrap">
                    <a href="{{ degustacion.get_absolute_url }}" class="menu-img img mb-4" style="background-image: url(/media/{{ degustacion.imagen }});"></a>
                    <div class="text">
                        <h3><a href="{{ degustacion.get_absolute_url }}">{{ degustacion.nombre }}</a></h3>
                        <p class="price">
                            <span>
                                {% for _ in ''|center:5 %}
                                    {% if forloop.counter <= degustacion.calificacion_media %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span style="color: rgba(255,255,255,0.5)">({{ degustacion.num_calificaciones }})</span>
                            </span>
                        </p>
                        <p>{{ degustacion.descripcion|default_if_none:'Sin descripcion'|truncatewords:10 }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                No hay degustaciones
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <a href="{% url 'locales-list' %}"><h2 class="mb-4">Locales</h2></a>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
             {% for local in locales %}
            <div class="col-md-6 col-lg-3 text-center ftco-animate">
                <div class="menu-wrap">
                    <a href="{{ local.get_absolute_url }}" class="menu-img img mb-4" style="background-image: url(/media/{{ local.imagen }});"></a>
                    <div class="text">
                        <h3>
                            {% if user.is_authenticated %}
                                {% if user.perfil in local.me_gustas.all %}
                                    <a href="{% url 'delete-me-gusta-local' pk=local.pk %}"><i class="fas fa-heart" style="color: red;"></i></a>
                                {% else %}
                                    <a href="{% url 'add-me-gusta-local' pk=local.pk %}"><i class="far fa-heart"></i></a> 
                                {% endif %}
                            {% endif %}
                            <a href="{{ local.get_absolute_url }}">{{ local.nombre }}</a>
                        </h3>
                        <p><a href="#"><i class="{{ local.pais.flag_css }}"></i> {{ local.pais.name }}</a></p>
                        <p>{{ local.resenia|default_if_none:'Sin descripcion'|truncatewords:10 }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                No hay locales
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <a href="{% url 'usuarios-list' %}"><h2 class="mb-4">Usuarios</h2></a>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row">
             {% for usuario in usuarios %}
            <div class="col-md-6 col-lg-3 text-center ftco-animate">
                <div class="menu-wrap">
                    <a href="{% url 'usuario-details' pk=usuario.pk %}" class="menu-img img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></a>
                    <div class="text">
                        <h3><a href="{% url 'usuario-details' pk=usuario.pk %}">{{ usuario.nombre }}</a></h3>
                        <p class="price">
                            <span>
                                <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_degustaciones }})</span>
                            </span>
                        </p>
                        <p>
                            {% if user.is_authenticated %}
                                {% if usuario in user.perfil.peticiones_aceptadas %}
                                    <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Amigo</a>
                                {% elif usuario in user.perfil.peticiones_pendientes %}
                                    <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Pendiente</a>
                                {% elif usuario == user.perfil %}
                                    <a href="{% url 'perfil-details' %}" class="btn btn-sm btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Eres tu</a>
                                {% else %}
                                    <a href="{% url 'enviar-solicitud' usuario.pk %}" class="btn btn-sm btn-primary">Enviar solicitud</a>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p>{{ usuario.descripcion|default_if_none:'Sin descripcion'|truncatewords:10 }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                No hay usuarios
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    
{% endblock %}

