{% extends 'index.html' %}

{% block title %}Informe de error{% endblock %}

{% load bootstrap4 %}

{% block content %}
<section  class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-2 pb-2">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Informar de un error</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-2 pb-2">
                <form method="post" class="form" enctype="multipart/form-data">

                    <div class="form-group"><input type="email" name="email" placeholder="Email" maxlength="200" class="form-control" title="Required" required id="id_email">
                        <small class="form-text text-muted">Required</small>

                    </div>

                    <div class="form-group"><label for="id_imagen">Imagen del error</label><input type="file" name="imagen" accept="image/*" class="form-control-file" title="" required id="id_imagen"></div>

                    <div class="form-group"><label for="id_descripcion">Descripcion del error</label><input type="text" name="descripcion" class="form-control" placeholder="Descripcion" title="" required id="id_descripcion"></div>

                    <div class="form-group">
                        <input type="submit" value="Enviar informe" class="btn btn-primary py-3 px-4">
                        <a class="btn btn-danger py-3 px-4">Cancelar</a>
                    </div> 
                </form>
            </div>
        </div>
    </section>

{% endblock %}

