{% extends 'index.html' %}

{% load modulo %}

{% block content %}

<section class="ftco-about d-md-flex" style="min-height: 500px">
    <div class="one-half img" style="background-image: url(/media/{{ local.imagen }});"></div>
    <div class="one-half ftco-animate d-flex flex-column">
        <div class="heading-section ftco-animate">
            <h2 class="mb-4">
                {% if user.is_authenticated %}
                    {% if user.perfil in local.me_gustas.all %}
                        <a href="{% url 'delete-me-gusta-local' pk=local.pk %}"><i class="fas fa-heart" style="color: red;"></i></a>
                    {% else %}
                        <a href="{% url 'add-me-gusta-local' pk=local.pk %}"><i class="far fa-heart"></i></a> 
                    {% endif %}
                {% endif %}
                Bienvenido a <span>{{ local.nombre }}</span>
            </h2>
        </div>
        <div>
            <p><i class="fas fa-crosshairs"></i> <a href="#mapa">{{ local.direccion }}</a></p>
            <p><a href="#"><i class="{{ local.pais.flag_css }}"></i> {{ local.pais.name }}</a></p>
            <p>{{ local.resenia|default_if_none:"Sin descripcion" }}</p>
        </div>
        
        <div class="d-flex justify-content-end ftco-animate py-4 mt-auto">
            <a class="btn btn-primary" href="{% url 'local-crear-degustacion' local.pk %}" style="margin-right: 20px">Añadir una degustacion</a>
            {% if user.perfil == local.creador %}
            <a class="btn btn-primary" href="{% url 'local-update' local.pk %}">Editar Local</a>
            {% endif %}
        </div>
       
    </div>
</section>

<section class="ftco-section" style="margin-bottom: 100px">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Degustaciones</h2>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row no-gutters d-flex degustaciones-local">
            {% for degustacion in local.degustacion_local.all %}
                {% if forloop.counter|modulo:6 > 3 or forloop.counter|modulo:6 == 0 %}
                    <div class="col-lg-4 d-flex ftco-animate">
                        <div class="services-wrap d-flex">
                            <a href="{% url 'degustacion-details' degustacion.pk %}" class="img" style="background-image: url(/media/{{ degustacion.imagen }});"></a>
                            <div class="text p-4 content">
                                <a href="{% url 'degustacion-details' degustacion.pk %}"><h3>{{ degustacion.nombre }}</h3></a>
                                <p>{{ degustacion.descripcion }}</p>
                                <p>
                                    <a href="#">{{ degustacion.get_tipo_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_tamanio_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_gusto_display }}</a>
                                </p>
                                <p class="price"><span><i class="fas fa-star"></i> {{ degustacion.calificacion_media|default_if_none:'Sin Calif.'|floatformat:'1' }}</span></p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4 d-flex ftco-animate">
                        <div class="services-wrap d-flex">
                            <a href="{% url 'degustacion-details' degustacion.pk %}" class="img order-lg-last" style="background-image: url(/media/{{ degustacion.imagen }});"></a>
                            <div class="text p-4 content">
                                <a href="{% url 'degustacion-details' degustacion.pk %}"><h3>{{ degustacion.nombre }}</h3></a>
                                <p>{{ degustacion.descripcion }}</p>
                                <p>
                                    <a href="#">{{ degustacion.get_tipo_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_tamanio_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_gusto_display }}</a>
                                </p>
                                <p class="price"><span><i class="fas fa-star"></i> {{ degustacion.calificacion_media|default_if_none:'Sin Calif.'|floatformat:'1' }}</span></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="col-12 d-flex flex-column ftco-animate justify-content-center">
                    <p class="align-self-center">Este local no tiene degustaciones</p>
                    <a href="{% url 'local-crear-degustacion' local.pk %}" class="btn btn-primary align-self-center">Añadir una degustacion</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-5 ftco-animate">
        <a name="mapa"><a/>
        <div id="map" style="height: 500px"></div>
    </div>
</section>

{% endblock %}

{% block script %}
    <script>
        var geocoder;
        var map;
        var addresses = []
        addresses.push("{{ local.direccion }}");
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: {lat: 40.416775, lng: -3.703790}
            });
            geocoder = new google.maps.Geocoder();
            codeAddress(geocoder, map);
        }

        function codeAddress(geocoder, map) {
            addresses.forEach(function(address) {
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKU6hW5eKxUd2b5o6PI96rKKzDv4BHPPc&callback=initMap"></script>
{% endblock %}
