{% extends 'index.html' %} 

{% block title %}Confirmar Borrado Local{% endblock %}

{% block content %}
    <div class="container">
        {% load bootstrap4 %}
        <h2>Confirmar Borrado Local</h2>

        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Borrar" class="btn btn-danger py-3 px-4">
                <a href="{{ previous_url|default_if_none:'/' }}" class="btn btn-primary py-3 px-4">Cancelar</a>
            </div> 
        </form>
    </div>
{% endblock %}
