
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Locales{% endblock %}

{% block content %}

<section>
    <div class="container" style="margin-bottom: 100px">
        <div class="row justify-content-end ftco-animate py-4">
         {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'local-create' %}">Nuevo Local</a>
        {% endif %}
        </div>
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Locales</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                {% if search %}
                <p class="mt-5">Locales similares a <span style="font-weigth: 900;">"{{ search }}"</span></p>
                {% else %}
                <p class="mt-5">Los locales mas cercanos.</p>
                {% endif %}
            </div>
        </div>
        {% if locales_list %}
        <div id="map" style="height: 500px"></div>
        {% endif %}
        <div class="row mb-3 pb-3 ftco-animate">
            <div class="col-12 d-flex flex-column flex-md-row flex-lg-row flex-xl-row filter-menu">
                {% if order == 'nombre' %}
                    <a class="p-3" href={% query_url '-nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-down fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url 'nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-up fa-lg"></i></a>
                {% endif %}

                <span class="ml-auto"></span>

                {% if search %}
                    <a class="p-3" href={% url 'locales-list' %}>Limpiar filtros</a>
                {% endif %}

                {% if all %}
                    <a class="p-3" href="{% query_url '' 'all' request.GET.urlencode %}">Mostrar Menos</a>
                {% else %}
                    <a class="p-3" href="{% query_url 'true' 'all' request.GET.urlencode %}">Mostrar Todo</a>
                {% endif %}
            </div>
            {% if locales_list %}
                {% for local in locales_list %}
                    <div class="col-md-4 d-flex ftco-animate">                    
                        <div class="blog-entry align-self-stretch w-100">
                            <a href="{{ local.get_absolute_url }}" class="block-20" style="background-image: url('/media/{{ local.imagen }}');"> </a>
                            <div class="text py-4 d-block">
                                <div class="meta">
                                    <div>
                                        {% if user.perfil in local.me_gustas.all %}
                                            <a href="{% url 'delete-me-gusta-local' pk=local.pk %}"><i class="fas fa-heart" style="color: red;"></i></a>
                                        {% else %}
                                            <a href="{% url 'add-me-gusta-local' pk=local.pk %}"><i class="far fa-heart"></i></a> 
                                        {% endif %}
                                    </div>
                                    <div>
                                        <a href="{% url 'usuario-details' local.creador.pk %}">
                                            <i class="far fa-user"></i> {{ local.creador.nombre }}
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <i class="{{ local.pais.flag_css }}"></i> {{ local.pais.name }}
                                        </a>
                                    </div>
                                </div>
                                <h3 class="heading mt-2"><a href="{{ local.get_absolute_url }}">{{ local.nombre }}</a></h3>
                                <p>
                                    {{ local.resenia|default_if_none:'Sin reseña.' }}
                                </p>
                                <p>
                                    {{ local.created|date }}
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                
            {% else %}
                <div class="col-12">No hay locales.</div>
            {% endif %}
        </div>

        {% if locales_list.has_other_pages %}
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if locales_list.has_previous %}
                                <li><a href="{% query_url locales_list.previous_page_number 'page' request.GET.urlencode %}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}
                            
                            {% for num in locales_list.paginator.page_range %}
                                {% if locales_list.number == num %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="{% query_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if locales_list.has_next %}
                                <li><a href="{% query_url locales_list.next_page_number 'page' request.GET.urlencode %}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block script %}
    <script>
        var geocoder;
        var map;
        var addresses = []
        {% for local in locales_mapa %}
            addresses.push("{{ local.direccion }}");
        {% endfor %}
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: {lat: 40.416775, lng: -3.703790}
            });
            geocoder = new google.maps.Geocoder();
            codeAddress(geocoder, map);
        }

        function codeAddress(geocoder, map) {
            addresses.forEach(function(address) {
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKU6hW5eKxUd2b5o6PI96rKKzDv4BHPPc&callback=initMap"></script>
{% endblock %}
