{% extends 'index.html' %} 

{% block title %}Activacion de Cuenta{% endblock %}

{% block content %}
    <div class="container">
        {% if success %}
            <h1>Gracias por confirmar su email. Ya puede acceder a su cuenta en DesTapaIS Grupo 4.</h1>
        {% else %}
            <h1>Enlace de activacion invalido!</h1>
        {% endif %}
    </div>
{% endblock %}
