{% extends 'index.html' %}

{% block content %}

<section class="home-slider owl-carousel img" style="background-image: url(/media/{{degustacion.imagen}});">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            {% if user.is_authenticated %}
                {% if user.perfil == degustacion.creador %}
                    <div class="row justify-content-end ftco-animate py-4">
                        <a class="btn btn-primary" href="{% url 'degustacion-update' degustacion.pk %}">Editar Degustacion</a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">{{ degustacion.nombre }}</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            Creador: <a href="{% url 'usuario-details' degustacion.creador.pk %}">{{ degustacion.creador.nombre }}</a>
                        </span>
                        <span class="mr-2">
                            Local: <a href="{% url 'local-details' degustacion.local.pk %}">{{ degustacion.local.nombre }}</a>
                        </span>
                    </p>
                    
                    {% if user.perfil in degustacion.calificaciones.all %}
                        <p class="breadcrumbs">
                            <span class="mr-2">
                            {% for _ in ''|center:5 %}
                                {% if forloop.counter <= perfil_voto  %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                            </span>
                        </p>
                    {% else %}
                        <p class="breadcrumbs">
                            <span id="rating_bar" class="mr-2">
                            {% for _ in ''|center:5 %}
                                <a class="icon" href="{% url 'calificar-degustacion' pk=degustacion.pk voto=forloop.counter %}"></a>
                            {% endfor %}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row justify-content-center ftco-animate py-4 flex-column flex-md-row flex-lg-row flex-xl-row" style="background-color: black; font-size:1.1em">  
    <div class="mx-3  align-self-center">
        <a href="#valoraciones"><i class="fas fa-star"></i> {{ degustacion.calificacion_media|default_if_none:'0.0'|floatformat:'1' }}</a>
    </div>
    <div class="mx-3 align-self-center">
        <b>Tipo: </b> <a href="#">{{ degustacion.get_tipo_display }}</a>
    </div>
    <div  class="mx-3  align-self-center">
        <b>Tamaño: </b> <a href="#">{{ degustacion.get_tamanio_display }}</a>
    </div>
    <div class="mx-3  align-self-center">
        <b>Gusto: </b> <a href="#">{{ degustacion.get_gusto_display }}</a>
    </div>
    <div class="mx-3  align-self-center">
        <b>Registrada el: </b> <a href="#">{{ degustacion.created|date }}</a>
    </div>
</div>

<section style="margin-bottom: 300px">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Descripcion</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">{{ degustacion.descripcion }}</p>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Valoraciones</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row ftco-animate mb-5 mt-2 pb-3 pt-2" id="valoraciones">
            {% for calificacion in degustacion.calificaciones_degustacion.all %}
                <div class="col-sm-12 col-md-6">
                    <div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(/media/{{ calificacion.perfil.imagen }});"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>{{ calificacion.perfil.nombre }}</span></h3>
	        				<span class="price">
                            {% for _ in ''|center:5 %}
                                {% if forloop.counter <= calificacion.voto  %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                            </span>
	        			</div>
	        			<div class="d-block">
	        				<p>{{ calificacion.created|timesince }}</p>
	        			</div>
        			</div>
        		</div>

                </div>
            {% empty %}
                <div class="col-md-12 text-center ftco-animate">
                    No hay valoraciones. Sé el primero.
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Comentarios</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5"><a href="{% url 'degustacion-crear-comentario' pk=degustacion.pk %}" class="btn btn-primary">Deja un comentario</a></p>
            </div>
        </div>
        <div class="row ftco-animate mb-5 mt-2 pb-3 pt-2" id="valoraciones">
            {% for comentario in degustacion.comentarios_degustacion.all %}
                <div class="col-sm-12 col-md-6">
                    <div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(/media/{{ comentario.perfil.imagen }});"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text comentario align-items-center">
	        				<h3><span>{{ comentario.perfil.nombre }}</span></h3>
                            <p>{{ comentario.created|timesince }}</p>
	        			</div>
	        			<div class="d-block">
                            <p>{{ comentario.comentario }}</p>
	        			</div>
        			</div>
        		</div>

                </div>
            {% empty %}
                <div class="col-md-12 text-center ftco-animate">
                    No hay comentarios. Sé el primero.
                </div>
            {% endfor %}
        </div>
    <div>
</section>


{% endblock %}
