{% extends 'index.html' %} 

{% block title %}Crear Degustacion{% endblock %}

{% load bootstrap4 %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            
            <div class="row justify-content-center mb-2 pb-2">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Nueva degustacion</h2>
                </div>
            </div>
           
            <div class="row justify-content-center mb-2 pb-2">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% if not '/locales/' in request.path  %} 
                        <a class="btn btn-primary" href="{% url 'local-create' %}">Nuevo Local</a>
                    {% endif %}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" value="Crear Degustacion" class="btn btn-primary py-3 px-4">
                        <a href="{{ previous_url|default_if_none:'/' }}" class="btn btn-danger py-3 px-4">Cancelar</a>
                    </div> 
                </form>
            </div>
        </div>
    </section>
{% endblock %}
