{% extends 'index.html' %} 

{% block title %}Login{% endblock %}
{% load bootstrap4 %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-2 pb-2">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Login</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-2 pb-2">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="form-group">
                        <a href="{% url 'password_reset' %}"> He olvidado mi contraseña.</a>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary py-3 px-4">
                        <a href="{% url 'signup' %}" class="btn btn-primary py-3 px-4">Registro</a>
                    </div> 
                </form>
            </div>
        </div>
    </section>
{% endblock %}
