{% extends 'index.html' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}
    <div class="container">
        <p>
            Tu contraseña se ha restablecido correctamente. Puede <a href="{% url 'login' %}">iniciar sesion <i class="fas fa-sign-in-alt"></i></a> ahora.
        </p>
    </div>
{% endblock %}
