{% extends 'index.html' %}

{% block title %}Cambio de Contraseña{% endblock %}
{% load bootstrap4 %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        {% if validlink %}
            <div class="row justify-content-center mb-2 pb-2">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Cambiar Contraseña</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-2 pb-2">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" value="Cambiar Contraseña" class="btn btn-primary py-3 px-4">
                    </div>
                </form>
        {% else %}
            <div class="row justify-content-center mb-2 pb-2">
                <div class="col">
                    <p>
                        El enlace para reestablecer la contraseña es invalido, posiblememnte ya ha sido usado.
                        Por favor solicite un nuevo enlace.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
