{% extends 'index.html' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}
    <div class="container">
    <p>
        Le hemos mandado las instrucciones para cambiar su contraseña a su email. 
        Si la cuenta existe, recibira el email dentro de poco.
    </p>
    <p>
        Si no ha recibido el email, porfavor asegurate de haber escrito bien su email y de estar registrado en DesTapaIS Grupo 4,
        tambien compruebe su carpeta de Spam.
    </p>
  </div>
{% endblock %}
