{% extends 'index.html' %} 

{% block title %}Usuario {{ perfil.nombre }}{% endblock %}

{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row ftco-animate" >
            <img src="/media/{{ perfil.imagen }}" class="col-md-4 col-12 align-self-start mr-3" alt="Image {{ perfil.nombre_completo }}">
            <div class="col">
                <h2>{{ perfil.nombre_completo }}</h2>
                <p>{{ perfil.descripcion|default_if_none:"Sin descripcion." }}</p>
                <a href="{% url 'usuario-actividades' perfil.pk %}">Actividad</a>
            </div>
        </div>
        <div class="row sidebar ftco-animate">

                <div class="col sidebar-box ftco-animate">
                <h3>Degustaciones creadas</h3>
                {% for degustacion in perfil.creador.all|slice:":4" %}
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url(/media/{{ degustacion.imagen }});"></a>
                    <div class="text">
                        <h3 class="heading"><a href="{{ degustacion.get_absolute_url }}">{{ degustacion.nombre }}</a></h3>
                        <p>{{ degustacion.descripcion|truncatewords:10 }}</p>
                        <div class="meta">
                            <div><span class="icon-calendar"></span> {{ degustacion.created|date }}</div>
                            <div><i class="fas fa-star"></i> {{ degustacion.calificacion_media|default_if_none:'Sin Calif.'|floatformat:'1' }}</div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="block-21 mb-4 d-flex">
                    No ha creado ninguna degustacion todavia.
                </div>
                {% endfor %}
                <div style="text-align: center">
                    <a href="{% url 'usuario-degustaciones' perfil.pk %}">Ver todas</a>
                </div>
            </div>

            <div class="col sidebar-box ftco-animate">
                <div class="categories">
                    <h3>Ultimas valororaciones</h3>
                    {% for calificacion in perfil.calificaciones_perfil.all|slice:":5" %}
                    <li>
                        <a href="{{ calificacion.degustacion.get_absolute_url }}">{{ calificacion.degustacion.nombre }}
                            <span>
                                {{ calificacion.voto }} <i class="fas fa-star"></i> 
                            </span>
                        </a>
                    </li>
                    {% empty %}
                    <li>No ha calificado ninguan degustacion.</li>
                    {% endfor %}
                    <li style="text-align: center;">
                        <a href="{% url 'usuario-calificaciones' perfil.pk %}" style="color: #fac564;">Ver todas</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
