
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Usuarios{% endblock %}

{% block content %}

<section class="ftco-section">
    <div class="container" style="margin-bottom: 100px">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Usuarios</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            {% if search %}
            <p class="mt-5">Usuarios similares a <span style="font-weigth: 900;">"{{ search }}"</span></p>
            {% endif %}
            </div>
        </div>

        <div class="row mb-3 pb-3 ftco-animate">
            <div class="col-12 d-flex flex-column flex-md-row flex-lg-row flex-xl-row filter-menu">

                {% if order == '-media' %}
                    <a class="p-3" href={% query_url 'media' 'order' request.GET.urlencode %}>Puntuacion <i class="fas fa-sort-numeric-up fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url '-media' 'order' request.GET.urlencode %}>Puntuacion <i class="fas fa-sort-numeric-down fa-lg"></i></a>
                {% endif %}

                {% if order == '-num' %}
                    <a class="p-3" href={% query_url 'num' 'order' request.GET.urlencode %}>Nº Calificaciones <i class="fas fa-sort-numeric-up fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url '-num' 'order' request.GET.urlencode %}>Nº Calificaciones <i class="fas fa-sort-numeric-down fa-lg"></i></a>
                {% endif %}

                {% if order == 'nombre' %}
                    <a class="p-3" href={% query_url '-nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-up fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url 'nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-down fa-lg"></i></a>
                {% endif %}

                <span class="ml-auto"></span>

                {% if tipo or tamanio or gusto or search %}
                    <a class="p-3" href={% url 'usuarios-list' %}>Limpiar filtros</a>
                {% endif %}

                {% if all %}
                    <a class="p-3" href="{% query_url '' 'all' request.GET.urlencode %}">Mostrar Menos</a>
                {% else %}
                    <a class="p-3" href="{% query_url 'true' 'all' request.GET.urlencode %}">Mostrar Todo</a>
                {% endif %}
            </div>
            
            {% if usuarios_list %}
                {% for usuario in usuarios_list %}
                    <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                        <div class="staff">
                            <a href="{% url 'usuario-details' usuario.pk %}">
                                <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                            </a>
                            <div class="text-center mb-4">
                                {% if user.is_authenticated %}
                                    {% if usuario in user.perfil.peticiones_aceptadas %}
                                        <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Amigo</a>
                                    {% elif usuario in user.perfil.peticiones_pendientes %}
                                        <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Pendiente</a>
                                    {% elif usuario == user.perfil %}
                                        <a href="{% url 'perfil-details' %}" class="btn btn-sm btn-outline-success" tabindex="-1" role="button" aria-disabled="true">Eres tu</a>
                                    {% else %}
                                        <a href="{% url 'enviar-solicitud' usuario.pk %}" class="btn btn-sm btn-primary">Enviar solicitud</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="info text-center">
                                <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                <span class="position" style="font-weight: 900;">
                                    <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                    <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_degustaciones }})</span>
                                </span>
                                <div class="text">
                                    <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            {% else %}
                <div class="col-12">No hay usuarios.</div>
            {% endif %}
        </div>

        {% if usuarios_list.has_other_pages %}
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if usuarios_list.has_previous %}
                                <li><a href="{% query_url usuarios_list.previous_page_number 'page' request.GET.urlencode %}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}
                            
                            {% for num in usuarios_list.paginator.page_range %}
                                {% if usuarios_list.number == num %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="{% query_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if usuarios_list.has_next %}
                                <li><a href="{% query_url usuarios_list.next_page_number 'page' request.GET.urlencode %}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
