
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Calificaciones{% endblock %}

{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container" style="margin-bottom: 100px">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Degustaciones calificadas por {{ perfil.nombre }}</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        
        <div class="row mb-3 pb-3 ftco-animate">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 sidebar-box ftco-animate">
                <div class="categories">
            
                    {% for calificacion in calificaciones_usuario_list %}
                        <li>
                            <a href="{{ calificacion.degustacion.get_absolute_url }}">{{ calificacion.degustacion.nombre }}
                                <span>
                                    {{ calificacion.voto }} <i class="fas fa-star"></i> 
                                </span>
                            </a>
                        </li>
                    {% empty %}
                        <li>No ha calificado ninguan degustacion.</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
