{% extends 'index.html' %}

{% block title %} ERROR - 404 {% endblock %}

{% block content %}
    <div class="container">
        <h1>Codigo 404</h1>
        <h2>Ha ocurrido un error, pagina no encontrada.</h2>
    </div>
{% endblock %}
