{% extends 'index.html' %}


{% block title %} Degustacion - 404 {% endblock %}

{% block content %}
    <div class="container">
        <h1>Codigo 404</h1>
        <h2>Ha ocurrido un error, degustacion no encontrada.</h2>
    </div>
{% endblock %}

