<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="flaticon-pizza-1 mr-1"></span>DesTapaIS<br><small>Grupo 4</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        
        {% if request.path == '/usuarios/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Buscar Usuario" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% elif request.path == '/locales/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Buscar Local" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% elif request.path == '/degustaciones/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Buscar Degustaciones" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% elif request.path == '/perfil/amigos/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Buscar Amigos" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% elif request.path == '/perfil/degustaciones/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Busca en tus Degustaciones" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% elif request.path == '/perfil/locales/favoritos/' %}
            <form action="." method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Busca en tus Favoritos" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% else %}
            <form action="{% url 'homepage' %}" method="GET" class="form-inline search mx-auto">
                <input class="form-control mr-sm-2 search-header" type="search" id="search" name="search" value="{{ search }}" placeholder="Buscar" aria-label="Buscar">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        {% endif  %}
            
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

            {% if request.path == '/locales/' %}
                <li class="nav-item active"><a href="{% url 'locales-list' %}" class="nav-link">Locales</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'locales-list' %}" class="nav-link">Locales</a></li>
            {% endif %}

            {% if request.path == '/degustaciones/' %}
                <li class="nav-item active"><a href="{% url 'degustaciones-list' %}" class="nav-link">Degustaciones</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'degustaciones-list' %}" class="nav-link">Degustaciones</a></li>
            {% endif %}

            {% if request.path == '/usuarios/' %}
                <li class="nav-item active"><a href="{% url 'usuarios-list' %}" class="nav-link">Usuarios</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url 'usuarios-list' %}" class="nav-link">Usuarios</a></li>
            {% endif %}
  
                {% if user.is_authenticated %}
                    {% if '/perfil/' in request.path  %}
                        <li class="nav-item dropdown active">
                    {% else %}
                        <li class="nav-item dropdown">
                    {% endif %}
                    
                        <a class="nav-link dropdown-toggle" href="{% url 'perfil-details' %}" id="perfil-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/media/{{ user.perfil.imagen }}" width="25" height="25" class="rounded-circle" alt="imagen del perfil"> 
                            {{ user.username }}
                            {% if user.perfil.tiene_actividades%}
                                <span class="fa-layers fa-fw">
                                    <i class="far fa-bell"></i>
                                    <span class="fa-layers-counter" style="background:Tomato"></span>  
                                </span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="perfil-dropdown">
                            <a class="dropdown-item" href="{% url 'perfil-details' %}"><i class="far fa-user"></i> Perfil</a>
                            <a class="dropdown-item" href="{% url 'perfil-amigos' %}"><i class="fas fa-user-friends"></i> Amigos</a>
                            <a class="dropdown-item" href="{% url 'perfil-degustaciones' %}"><i class="fas fa-pizza-slice"></i> Tus Degustaciones</a>
                            <a class="dropdown-item" href="{% url 'perfil-locales' %}"><i class="far fa-heart"></i> Locales Favoritos</a>
                            <a class="dropdown-item" href="{% url 'perfil-actividades' %}">
                                <span class="fa-layers fa-fw">
                                    <i class="far fa-bell"></i>
                                    {% if user.perfil.tiene_actividades%}
                                        <span class="fa-layers-counter" style="background:Tomato"></span>
                                    {% endif %}
                                </span>
                                Actividad
                            </a>
                            <a class="dropdown-item" href="{% url 'perfil-galardones' %}"><i class="fas fa-award"></i> Galardones</a>
                            <a class="dropdown-item" href="{% url 'perfil-update' %}"><i class="fas fa-edit"></i> Editar Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                        <span class="badge"></span>
                    </li>
                    <li class="nav-item"></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login <i class="fas fa-sign-in-alt"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
