{% load static %}
{# Cargamos la librería #} 
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}">

        <title>{% block title %}{% endblock %} - DesTapaIS Grupo 4 </title>

        {% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> {% endcomment %}
        
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css">
        
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" type="text/css">

        
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script> 
        {% comment %} <script defer src="https://kit.fontawesome.com/541021bb6b.js" crossorigin="anonymous"></script> {% endcomment %}
        {# CSS Bootstrap #} 
        {# {% bootstrap_css %} #}
    </head>
    <body>
        {% include 'header.html' %}

        {% block content %}
        Loading Web
        {% endblock %} 

        {# JS y jQuery Bootstrap #} 
        
        {% block script %}
        {% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
        <script src="{% static 'js/scrollax.min.js' %}"></script>
        {% comment %} 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> 
        <script src="{% static 'js/google-map.js' %}"></script>
        {% endcomment %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
