{% extends 'index.html' %}

{% block title %}Actividad{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            {% if user.perfil.peticiones_recibidas.count > 0 %}
            <a class="btn btn-primary" href="{% url 'peticiones-recibidas' %}" style="margin-right: 20px">Peticiones Pendientes</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 100px">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Actividad</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row mb-3 pb-3 ftco-animate">
            {% if actividades_perfil_list %}
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {% for actividad in actividades_perfil_list %}
                        <div class="actividad {% if not actividad.vista %}no-vista{% endif %}">
                            <span>{{ actividad.created|timesince }}</span>
                            <a class href="{% url 'visitar-actividad' actividad.pk %}">
                            {{ actividad.accion }} 
                            {% if not actividad.vista %}
                                <i class="far fa-eye"></i>
                            {% endif %}</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
               <div class="col-12"> No hay actividad reciente.</div>
            {% endif %}
        </div>
    </div>
<section>
{% endblock %}
