
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Amigos{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            {% if user.perfil.peticiones_recibidas.count > 0 %}
            <a class="btn btn-primary" href="{% url 'peticiones-recibidas' %}" style="margin-right: 20px">Peticiones Pendientes</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>

<section class="ftco-menu">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Amigos</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            {% if search %}
            <p class="mt-5">Amigos similares a <span style="font-weigth: 900;">"{{ search }}"</span></p>
            {% endif %}
            </div>
        </div>
    
        <div class="row d-md-flex">
            {% if not search %}
            <div class="col-md-12 nav-link-wrap mb-5">
                <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-todos-tab" data-toggle="pill" href="#v-pills-todos" role="tab" aria-controls="v-pills-todos" aria-selected="true">Todos</a>
                    <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="flase">Amigos</a>
                    <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Peticiones Enviadas</a>
                    <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Bloqueados</a>
                </div>
            </div>
            {% endif %}
            
            <div class="col-12 d-flex flex-column flex-md-row flex-lg-row flex-xl-row filter-menu">

                {% if order == 'nombre' %}
                    <a class="p-3" href={% query_url '-nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-up fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url 'nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-down fa-lg"></i></a>
                {% endif %}

                <span class="ml-auto"></span>

                {% if search %}
                    <a class="p-3" href={% url 'perfil-amigos' %}>Limpiar filtros</a>
                {% endif %}

                {% if all %}
                    <a class="p-3" href="{% query_url '' 'all' request.GET.urlencode %}">Mostrar Menos</a>
                {% else %}
                    <a class="p-3" href="{% query_url 'true' 'all' request.GET.urlencode %}">Mostrar Todo</a>
                {% endif %}
            </div>
            
            <div class="col-md-12 d-flex align-items-center">
                <div class="tab-content ftco-animate" id="v-pills-tabContent" style="width: 100%;">

                    <div class="tab-pane fade show active" id="v-pills-todos" role="tabpanel" aria-labelledby="v-pills-todos-tab">
                        <div class="row">
                            {% for usuario in amigos_list %}
                                <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                                    <div class="staff">
                                        <a href="{% url 'usuario-details' usuario.pk %}">
                                            <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                                        </a>
                                        <div class="text-center mb-4">
                                            {% if usuario in user.perfil.peticiones_aceptadas %}
                                                <a href="{% url 'bloquear-amigo' usuario.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Bloquear</a>
                                                <a href="{% url 'borrar-amigo' usuario.pk %}" class="btn btn-sm btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Borrar</a>
                                            {% elif usuario in user.perfil.peticiones_pendientes %}
                                                <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Pendiente</a>
                                            {% elif usuario in user.perfil.peticiones_denegadas %}
                                                <a href="{% url 'desbloquear-amigo' usuario.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Desbloquear</a>
                                            {% endif %}
                                        </div>
                                        <div class="info text-center">
                                            <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                            <span class="position" style="font-weight: 900;">
                                                <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                                <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_calificaciones }})</span>
                                            </span>
                                            <div class="text">
                                                <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-lg-12 d-flex mb-sm-4 ftco-animate">
                                    {% if search %}
                                        No se han encontrado coincidencias.
                                    {% else %}
                                        No has añadido a ningun usuario como amigo, revisa tus peticiones pendientes o mandale a un usuario una solicitud de amistad.
                                    {% endif %}
                                </div>                                 
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade show" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                        <div class="row">
                            {% for usuario in user.perfil.peticiones_aceptadas %}
                                <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                                    <div class="staff">
                                        <a href="{% url 'usuario-details' usuario.pk %}">
                                            <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                                        </a>
                                        <div class="text-center mb-4">
                                            <a href="{% url 'bloquear-amigo' usuario.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Bloquear</a>
                                            <a href="{% url 'borrar-amigo' usuario.pk %}" class="btn btn-sm btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Borrar</a>
                                        </div>
                                        <div class="info text-center">
                                            <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                            <span class="position" style="font-weight: 900;">
                                                <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                                <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_calificaciones }})</span>
                                            </span>
                                            <div class="text">
                                                <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-lg-12 d-flex mb-sm-4 ftco-animate">
                                    No tienes amigos todavia.
                                </div>                                
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                        <div class="row">
                            {% for usuario in user.perfil.peticiones_pendientes %}
                                <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                                    <div class="staff">
                                        <a href="{% url 'usuario-details' usuario.pk %}">
                                            <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                                        </a>
                                        <div class="text-center mb-4">
                                            <a href="{% url 'usuario-details' usuario.pk %}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Pendiente</a>
                                        </div>
                                        <div class="info text-center">
                                            <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                            <span class="position" style="font-weight: 900;">
                                                <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                                <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_calificaciones }})</span>
                                            </span>
                                            <div class="text">
                                                <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-lg-12 d-flex mb-sm-4 ftco-animate">
                                    No tienes ninguna solicitud de amistad enviada pendiente.
                                </div>                                
                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                        <div class="row">
                            {% for usuario in user.perfil.peticiones_bloqueadas %}
                                <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                                    <div class="staff">
                                        <a href="{% url 'usuario-details' usuario.pk %}">
                                            <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                                        </a>
                                        <div class="text-center mb-4">
                                            <a href="{% url 'desbloquear-amigo' usuario.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Desbloquear</a>
                                        </div>
                                        <div class="info text-center">
                                            <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                            <span class="position" style="font-weight: 900;">
                                                <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                                <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_calificaciones }})</span>
                                            </span>
                                            <div class="text">
                                                <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-lg-12 d-flex mb-sm-4 ftco-animate">
                                    No tienes a ningun usuario bloqueado.
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
