
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Degustaciones{% endblock %}

{% block content %}


<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            <a class="btn btn-primary" href="{% url 'degustacion-create' %}" style="margin-right: 20px">Nueva Degustacion</a>
            {% if user.perfil.peticiones_recibidas.count > 0 %}
            <a class="btn btn-primary" href="{% url 'peticiones-recibidas' %}" style="margin-right: 20px">Peticiones Pendientes</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>

<section>
    <div class="container" style="margin-bottom: 100px">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Degustaciones creadas por ti</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        
        <div class="row mb-3 pb-3 ftco-animate">
            <div class="col-12 d-flex flex-column flex-md-row flex-lg-row flex-xl-row filter-menu">

                {% if order == 'media' %}
                    <a class="p-3" href={% query_url '-media' 'order' request.GET.urlencode %}>Valoraion <i class="fas fa-sort-numeric-down fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url 'media' 'order' request.GET.urlencode %}>Valoraion <i class="fas fa-sort-numeric-up fa-lg"></i></a>
                {% endif %}

                {% if order == 'nombre' %}
                    <a class="p-3" href={% query_url '-nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-up fa-lg"></i></a>
                {% else %}
                    <a class="p-3" href={% query_url 'nombre' 'order' request.GET.urlencode %}>Nombre <i class="fas fa-sort-alpha-down fa-lg"></i></a>
                {% endif %}

                <div class="p-3 dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="tipo-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ tipo|default_if_none:'Tipo' }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="tipo-menu">
                        <a class="dropdown-item" href="{% query_url '0' 'tipo' request.GET.urlencode %}">Bebida</a>
                        <a class="dropdown-item" href="{% query_url '1' 'tipo' request.GET.urlencode %}">Comida</a>
                        <a class="dropdown-item" href="{% query_url '2' 'tipo' request.GET.urlencode %}">Tapa</a>
                        <a class="dropdown-item" href="{% query_url '3' 'tipo' request.GET.urlencode %}">Coctel</a>
                        <a class="dropdown-item" href="{% query_url '4' 'tipo' request.GET.urlencode %}">Racion</a>
                    </div>
                </div>

                <div class="p-3 dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="tamanio-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ tamanio|default_if_none:'Tamaño' }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="tipo-menu">
                        <a class="dropdown-item" href="{% query_url '0' 'tamanio' request.GET.urlencode %}">Pequeña</a>
                        <a class="dropdown-item" href="{% query_url '1' 'tamanio' request.GET.urlencode %}">Mediana</a>
                        <a class="dropdown-item" href="{% query_url '2' 'tamanio' request.GET.urlencode %}">Grande</a>
                    </div>
                </div>

                <div class="p-3 dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="gusto-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ gusto|default_if_none:'Gusto' }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="gusto-menu">
                        <a class="dropdown-item" href="{% query_url '0' 'gusto' request.GET.urlencode %}">Dulce</a>
                        <a class="dropdown-item" href="{% query_url '1' 'gusto' request.GET.urlencode %}">Salado</a>
                        <a class="dropdown-item" href="{% query_url '2' 'gusto' request.GET.urlencode %}">Acido</a>
                        <a class="dropdown-item" href="{% query_url '3' 'gusto' request.GET.urlencode %}">Picante</a>
                        <a class="dropdown-item" href="{% query_url '4' 'gusto' request.GET.urlencode %}">Amargo</a>
                        <a class="dropdown-item" href="{% query_url '5' 'gusto' request.GET.urlencode %}">Afrutaco</a>
                        <a class="dropdown-item" href="{% query_url '6' 'gusto' request.GET.urlencode %}">Umami</a>
                    </div>
                </div>

                <span class="ml-auto"></span>

                {% if tipo or tamanio or gusto or search %}
                    <a class="p-3" href={% url 'degustaciones-list' %}>Limpiar filtros</a>
                {% endif %}

                {% if all %}
                    <a class="p-3" href="{% query_url '' 'all' request.GET.urlencode %}">Mostrar Menos</a>
                {% else %}
                    <a class="p-3" href="{% query_url 'true' 'all' request.GET.urlencode %}">Mostrar Todo</a>
                {% endif %}
            </div>
            {% if degustaciones_perfil_list %}
                {% for degustacion in degustaciones_perfil_list %}
                    <div class="col-md-4 d-flex ftco-animate">                    
                        <div class="blog-entry align-self-stretch w-100">
                            <a href="{{ degustacion.get_absolute_url }}" class="block-20" style="background-image: url('/media/{{ degustacion.imagen }}');"> </a>
                            <div class="text py-4 d-block">
                                <div class="mb-2">
                                    <a href="{% url 'degustacion-update' degustacion.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Editar</a>
                                    <a href="{% url 'degustacion-delete' degustacion.pk %}" class="btn btn-sm btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Borrar</a>
                                </div>
                                <div class="meta">
                                    <div>
                                        <a href="{% url 'local-details' degustacion.local.pk %}">
                                            <i class="far fa-building"></i> {{ degustacion.local.nombre }}
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{% url 'usuario-details' degustacion.creador.pk %}">
                                            <i class="far fa-user"></i> {{ degustacion.creador.nombre }}
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <i class="far fa-star"></i>
                                            {% if degustacion.calificacion_media %}
                                                {{ degustacion.calificacion_media|floatformat:'1' }}
                                            {% else %}
                                                No calif.
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <h3 class="heading mt-2"><a href="{{ degustacion.get_absolute_url }}">{{ degustacion.nombre }}</a></h3>
                                <p>
                                    <a href="#">{{ degustacion.get_tipo_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_tamanio_display }}</a> 
                                    - 
                                    <a href="#">{{ degustacion.get_gusto_display }}</a>
                                </p>
                                <p>
                                    {{ degustacion.descripcion|default_if_none:'Sin descripcion.' }}
                                </p>
                                <p>
                                    {{ degustacion.created|date }}
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                
            {% else %}
                <div class="col-12">No hay degustaciones.</div>
            {% endif %}
        </div>

        {% if latest_degustaciones_list.has_other_pages %}
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if latest_degustaciones_list.has_previous %}
                                <li><a href="{% query_url latest_degustaciones_list.previous_page_number 'page' request.GET.urlencode %}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                            {% endif %}
                            
                            {% for num in latest_degustaciones_list.paginator.page_range %}
                                {% if latest_degustaciones_list.number == num %}
                                    <li class="active"><span>{{ num }}</span></li>
                                {% else %}
                                    <li><a href="{% query_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if latest_degustaciones_list.has_next %}
                                <li><a href="{% query_url latest_degustaciones_list.next_page_number 'page' request.GET.urlencode %}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
