
{% extends 'index.html' %} 
{% load static %}
{% load svg %}
{% load query_url %}

{% block title %}Galardones{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>

<section class="ftco-menu">
    <div class="container">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Galardones</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>
        <div class="row d-md-flex">
            {% for galardon in galardones_list %}
                {% if galardon in user.perfil.galardones.all %}
                    {% for galardon_conseguido in user.perfil.galardones_conseguidos.all %}
                        {% if galardon == galardon_conseguido.galardon %}
                            <div class="col-md-3 text-center galardon level-{{ galardon_conseguido.nivel }}">
                                <div class="galardon-icon">{% svg galardon.icono %}</div>
                                <div class="galardon-info">
                                    <div class="nombre">
                                        {{ galardon.nombre }}
                                    </div>
                                    <div class="nivel">
                                        <div class="text-center">
                                            {% for _ in ''|center:5 %}
                                                {% if forloop.counter <= galardon_conseguido.nivel|default_if_none:'0'  %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="text-center">Nivel: {{ galardon_conseguido.nivel|default_if_none:'0' }}</div>
                                        <div class="text-center">
                                        {% if galardon.slug == 'influencer' %}
                                            {% if galardon_conseguido.nivel == 1 %}
                                                Consigue mas de 10 amigos.
                                            {% elif galardon_conseguido.nivel == 2 %}
                                                Consigue mas de 20 amigos.
                                            {% elif galardon_conseguido.nivel == 3 %}
                                                Consigue mas de 40 amigos.
                                            {% elif galardon_conseguido.nivel == 4 %}
                                                Consigue mas de 80 amigos.
                                            {% elif galardon_conseguido.nivel == 5 %}
                                                Eres un influencer de Oro.
                                            {% endif %}
                                        {% elif galardon.slug == 'foodie' %}
                                            {% if galardon_conseguido.nivel == 1 %}
                                                Crea mas de 20 degustaciones.
                                            {% elif galardon_conseguido.nivel == 2 %}
                                                Crea mas de 40 degustaciones.
                                            {% elif galardon_conseguido.nivel == 3 %}
                                                Crea mas de 80 degustaciones.
                                            {% elif galardon_conseguido.nivel == 4 %}
                                                Crea mas de 160 degustaciones.
                                            {% elif galardon_conseguido.nivel == 5 %}
                                                Eres un foodie de Oro.
                                            {% endif %}
                                        {% elif galardon.slug == 'explorador' %}
                                            {% if galardon_conseguido.nivel == 1 %}
                                                Crea mas de 6 locales.
                                            {% elif galardon_conseguido.nivel == 2 %}
                                                Crea mas de 12 locales.
                                            {% elif galardon_conseguido.nivel == 3 %}
                                                Crea mas de 24 locales.
                                            {% elif galardon_conseguido.nivel == 4 %}
                                                Crea mas de 48 locales.
                                            {% elif galardon_conseguido.nivel == 5 %}
                                                Eres un explorador de Oro.
                                            {% endif %}
                                        {% endif%}
                                        </div>
                                        
                                        <div class="text-center descripcion">
                                            <p>{{ galardon.descripcion }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="col-md-3 text-center galardon">
                        <div class="galardon-icon">{% svg galardon.icono %}</div>
                        <div class="galardon-info">
                            <div class="nombre">
                                {{ galardon.nombre }}
                            </div>
                            <div class="nivel">
                                <div class="text-center">
                                    {% for _ in ''|center:5 %}
                                        {% if forloop.counter <= 0  %}
                                            <i class="fas fa-star"></i>
                                        {% else %}
                                            <i class="far fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-center">Nivel: 0</div>
                                <div class="text-center">
                                {% if galardon.slug == 'influencer' %}
                                    Consigue mas de 5 amigos.
                                {% elif galardon.slug == 'foodie' %}
                                    Crea mas de 10 degustaciones.
                                {% elif galardon.slug == 'explorador' %}
                                    Crea mas de 3 locales.
                                {% endif%}
                                </div>
                                
                                <div class="text-center descripcion">
                                    <p>{{ galardon.descripcion }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="col-12">No hay galardones.</div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
