{% extends 'index.html' %} 

{% block title %}Perfil{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            {% if user.perfil.peticiones_recibidas.count > 0 %}
            <a class="btn btn-primary" href="{% url 'peticiones-recibidas' %}" style="margin-right: 20px">Peticiones Pendientes</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">

        <div class="row ftco-animate">
            <img src="/media/{{ perfil.imagen }}" class="col-md-4 col-12 align-self-start mr-3" alt="Image {{ perfil.nombre_completo }}">
            <div class="col">
                <h2>{{ perfil.nombre_completo }}</h2>
                <a href="#"><i class="fas fa-star"></i> {{ perfil.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} <span>({{perfil.num_degustaciones}})</span></a>
                <p>{{ perfil.descripcion|default_if_none:"Sin descripcion." }}</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-services">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <a href="{% url 'perfil-galardones' %}">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            {% comment %} <span class="flaticon-diet"></span> {% endcomment %}
                            {% comment %} <i class="fas fa-award fa-3x"></i> {% endcomment %}
                            <span class="flaticon-medal"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Galardones</h3>
                            <div class="estadisticas">
                                # <span class="number" data-number="{{ user.perfil.galardones.count }}">0</span>
                            </div>
                            <p>Conviertete en degustador profesional.</p>
                        </div>
                    </div>
                <a/>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% url 'perfil-amigos' %}">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            {% comment %} <span class="flaticon-bicycle"></span> {% endcomment %}
                            {% comment %} <i class="fas fa-user-friends fa-3x"></i> {% endcomment %}
                            <i class="far fa-user fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Amigos</h3>
                            <div class="estadisticas">
                                # <span class="number" data-number="{{ user.perfil.peticiones_aceptadas.count }}">0</span>
                            </div>
                            <p>Tus amigos Degustadores.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% url 'perfil-degustaciones' %}">
                    <div class="media d-block text-center block-6 services counter-wrap">
                        <div class="icon d-flex justify-content-center align-items-center mb-5"><span class="flaticon-pizza-1"></span></div>
                        <div class="media-body" id="counter">
                            <h3 class="heading">Degustaciones</h3>
                            <div class="estadisticas">
                                # <span class="number" data-number="{{ user.perfil.creador.count }}">0</span>
                            </div>
                            <p>Degustaciones creadas por ti</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% url 'perfil-locales' %}">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            {% comment %} <span class="flaticon-diet"></span> {% endcomment %}
                            <span class="far fa-heart fa-3x"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Locales Favoritos</h3>
                            <div class="estadisticas">
                                # <span class="number" data-number="{{ user.perfil.me_gustas.count }}">0</span>
                            </div>
                            <p>Tus locales Favoritos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container" style="margin-bottom: 100px">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Resumen</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            </div>
        </div>

        <div class="row sidebar ftco-animate">

            <div class="col sidebar-box ftco-animate">
                <h3>Degustaciones</h3>
                {% for degustacion in perfil.creador.all|slice:":4" %}
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url(/media/{{ degustacion.imagen }});"></a>
                    <div class="text">
                        <h3 class="heading"><a href="{{ degustacion.get_absolute_url }}">{{ degustacion.nombre }}</a></h3>
                        <p>{{ degustacion.descripcion|truncatewords:10 }}</p>
                        <div class="meta">
                            <div><span class="icon-calendar"></span> {{ degustacion.created|date }}</div>
                            <div><i class="fas fa-star"></i> {{ degustacion.calificacion_media|default_if_none:'Sin Calif.' }}</div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="block-21 mb-4 d-flex">
                    No ha creado ninguna degustacion todavia.
                </div>
                {% endfor %}
                <div style="text-align: center">
                    <a href="{% url 'perfil-degustaciones' %}">Ver todas</a>
                </div>
            </div>

            <div class="col sidebar-box ftco-animate">
                <div class="categories">
                    <h3>Valororaciones</h3>
                    {% for calificacion in perfil.calificaciones_perfil.all|slice:":5" %}
                    <li>
                        <a href="{{ calificacion.degustacion.get_absolute_url }}">{{ calificacion.degustacion.nombre }}
                            <span>
                                {{ calificacion.voto }} <i class="fas fa-star"></i> 
                            </span>
                        </a>
                    </li>
                    {% empty %}
                    <li>No ha calificado ninguan degustacion.</li>
                    {% endfor %}
                    <li style="text-align: center;">
                        <a href="{% url 'perfil-calificaciones' %}" style="color: #fac564;">Ver todas</a>
                    </li>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row sidebar ftco-animate">
            <a href="{% url 'informe-error' %}" class="btn btn-primary">Informar de un error</a>
        </div>
    </div>
</section>

{% endblock %}
