
{% extends 'index.html' %} 
{% load static %}
{% load query_url %}

{% block title %}Peticiones{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-end ftco-animate py-4">
            <a class="btn btn-primary" href="{% url 'perfil-update' %}">Editar Perfil</a>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container" style="margin-bottom: 100px">

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Peticiones Recibidas</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            {% if search %}
            <p class="mt-5">Amigos similares a <span style="font-weigth: 900;">"{{ search }}"</span></p>
            {% endif %}
            </div>
        </div>

        <div class="row mb-3 pb-3 ftco-animate">

            {% if user.perfil.peticiones_recibidas.all %}
                {% for usuario in user.perfil.peticiones_recibidas.all %}
                    <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                        <div class="staff">
                            <a href="{% url 'usuario-details' usuario.pk %}">
                                <div class="img mb-4" style="background-image: url(/media/{{ usuario.imagen }});"></div>
                            </a>
                            <div class="text-center mb-4">
                                <a href="{% url 'aceptar-peticion' usuario.pk %}" class="btn btn-sm btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Aceptar</a>
                                <a href="{% url 'denegar-peticion' usuario.pk %}" class="btn btn-sm btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Denegar</a>
                            </div>
                            <div class="info text-center">
                                <h3><a href="{% url 'usuario-details' usuario.pk %}">{{ usuario.nombre }}</a></h3>
                                <span class="position" style="font-weight: 900;">
                                    <i class="fas fa-star"></i> {{ usuario.media_degustaciones|default_if_none:'0.0'|floatformat:'1' }} 
                                    <span style="color: rgba(255,255,255,0.5)">({{ usuario.num_calificaciones }})</span>
                                </span>
                                <div class="text">
                                    <p>{{ usuario.descripcion|default_if_none:'Sin descripcion.'|truncatewords:15 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            {% else %}
                <div class="col-12">No hay amigos.</div>
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}
